/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--bgwhite);
    overflow: hidden;
    height: 120px;
    width: 100%;
}

.topnav h1 {
    padding-top: 10px;
    padding-bottom: 10px;

}

.topnav h5 {
    display: inline-block;
    padding-left: 45px;
}

.topnav menu {
    padding-top: 16px;
    padding-bottom: 32px;
}

.topnav a {
  text-decoration: none;
  color: var(--grey1);
}