:root {
  --grey1: #333;
  --grey3: #828282;
  --grey4: #BDBDBD;
  --bgwhite: #FCFCFC;
  --yellow: #EEB05F;
  --pink: #EE609A;
  --gradient: linear-gradient(90deg, var(--yellow) 0%, var(--pink) 100%);
}

body {
  background-color: var(--bgwhite);
  margin: 0px;
}

h0 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 70px;
  font-weight: 500;
  line-height: 110%;
  color: var(--grey1);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 110%;
  color: var(--grey1);
}

h2 {
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  color: var(--grey1);
}

h3 {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  color: var(--grey1);
}

h4 {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  color: var(--grey1);
}

h5 {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: var(--grey1);
}

h6 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: var(--grey1);
}


b0 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  color: var(--grey3);
}

b1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: var(--grey3);
}

b2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--grey3);
}


.alignRight {
  float: right;
}

.alignLeft {
  float: left;
}

.inline {
  display: inline-block;
}

.paddingTop {
  padding-top: 100px;
}

.paddingHorizontal {
  padding-right: 117px;
  padding-left: 117px;
}

.paddingLeft {
  padding-left: 117px;
}

.paddingRight {
  padding-right: 117px;
}

.mainTextWrap {
  padding-bottom:16px;
}

.mainText {
  padding-bottom: 16px;
  white-space: initial;
  display: inline-block;
  overflow-wrap: break-word;
}

.gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainButtonAndCV {
  width: 366px;
  height: 65px;
  padding: 0px 117px;
  position: relative;
}

.mainButtonAndCV .buttonWrapper {
  padding-right: 31px;
  width: 154px;
  height: 65px;
}

.mainButtonAndCV .cvWrapper {
  width: 181px;
  height: 65px;
  position: relative;
}

.mainButtonAndCV h6 {
  margin: 0px;
  padding: 10px;
  position: absolute; 
  top: 50%;
  transform: translate(0%, -50%);
}

.mainButtonAndCV .imgHelper {
  padding-left: 8px;
  width: 32px;
  height: 100%;
  position: relative;
}

.mainButtonAndCV img {
  width: 24px;
  height: 24px; 
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.button {
  outline: none;
  background-image: var(--gradient);
  color: white;
  position: relative;
  letter-spacing: 1px;
  height: 65px; 
  width: 100%;
 }
 
 .mainButtonAndCV .button::before {
  content: 'Book a call';
 }
 
 .projectsWrapper .button::before {
  content: 'View all projects';
 }
 
 .button::before {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  position: absolute;
  top: -4px;
  left: -4px;
  background-color: var(--grey1);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in-out;
 }
 
 .button:hover::before {
  top: 0;
  left: 0;
 }

 .myPhotoWrapper {
  width: 100%;
  height: 356px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
 }


.myPhotoWrapper .photo {
  margin: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: grid;
}

.myPhotoWrapper .photoBigger {
  display: grid;
  grid-column-end: span 2;
}
 
.myPhotoWrapper .photo_img {
 width: 100%;
 height: 356px;
 object-fit: cover;
}

 /* .myPhotoWrapper .photoSmaller {
  width: 33%;
  height: 100%;
 }
 
 .photoSmaller img {
  width: 100%;
  height: 100%;
  object-fit:cover;
 }

 .myPhotoWrapper .photoBigger {  
  width: 60%;
  height: 100%;
 }
 
 .photoBigger img {
  width: 100%;
  height: 100%;
  object-fit:cover;
 } */

 .header {
  width: fit-content;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0px;
 }

 .skillsWrapper h2 {
  margin: 0px;
  padding-bottom: 45px;
 }

 .skillsWrapper h4 {
  margin: 0px;
  padding-bottom: 16px;
 }

 .skillsWrapper table {
  width: 100%;
  margin: 0px;
 }

.skillsWrapper th, td {
  width: 5%;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  list-style-type: disc;
  color: var(--grey1);
}
 table .paddingRight {
  padding-right: 45px;
 }
 
.skillsWrapper li {
 width: fit-content;
 padding-bottom: 8px;
}

.skillsWrapper b2 {
 width: fit-content;
   color: var(--grey1);
}

.projectsWrapper .headerWrapper {
  width: 100%;
  height: 97px;
}

.projectsWrapper .buttonWrapper {
  width: 194px;
  height: 65px;
}

.projectCarousel {
  height: 554px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.projectCarousel .project {
  flex: 0 0 auto;
  width: 496px;
  height: 100%;
  background-color: var(--bgwhite);
}

.projectCarousel .marginRight {
  margin-right: 45px;
}

.projectCarousel img {
  width: 100%;
  height: 305px;
}

.project .description {
  padding: 32px;
}

.description h6 {
  margin: 0;
  padding-bottom: 16px;
}

.description h4 {
  margin: 0;
  padding-bottom: 16px;
}

.description b1 {
  color: var(--grey1);
}

.description .viewProject {
  width: 140px;
  padding-top: 16px;
  margin: 0;
}

.viewProject .imgHelper {
  padding-left: 8px;
  width: 32px;
  position: relative;
}

.viewProject img {
  width: 24px;
  height: 24px; 
  position: absolute;
}

.rectangle {
  margin-top: -300px;
  width: 100%;
  height: 480px;
  background-color: var(--yellow);
}

.aboutMeWrapper .headerWrapper {
  height: 74px;
}

.headerWrapper .smallerText {
  padding: 16px 0;
}

.aboutMePhotos {
  margin-top: 45px;
  width: 100%;
  height: 522px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 32px;
}

.aboutMePhotos .photo {
  margin: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: grid;
}

.aboutMePhotos .photoBigger {
  display: grid;
  grid-column-end: span 2;
}
 
.aboutMePhotos .photo_img {
 width: 100%;
 height: 245px;
 object-fit: cover;
}

.companyLogos {
  margin-top: 45px;
  width: 100%;
  height: 75px;
}

.companyLogos table {
 width: 65%;
 margin-left: auto;
 margin-right: auto;
}

.companyLogos th, td {
  padding: 0;
  text-align: left;
  display:table-cell;
  vertical-align:middle;
}

.companyLogos img {
  vertical-align:middle;
}

.companyLogos h2 {
  margin: 0;
  color: var(--grey4);
  vertical-align:middle;
}